
.validate:valid{
    border:2px solid green;
}
.validate:invalid{
    border:2px solid red;
    color: red;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
